*{
	margin:0;
	padding:0;
	list-style:none;
}
body{
	background: #000000;
}
img{
	width: 100%;
	display: block;
}
/*大容器*/
.container{
	width: 100%;
	margin: 0 auto;
	max-width: 640px;
	min-width: 320px;
}
.logo img{
	margin-left: 20%;
	width: 60%;
}
/*首页ul*/
.header ul{
	background: #ffffff;
	display: flex;
	height: 80px;
	justify-content: space-around;
} 
.header ul li{
	line-height: 80px;
}
.header ul li:nth-child(6){
	box-sizing: border-box;
	border-bottom: 5px solid #cdac5f;
}
.header ul li:nth-child(36) a{
	color: #cdac5f;
}
.header ul a{
	font-size: 1.8vw;
	font-weight: 800;
	color: black;
	text-decoration: none;
}
/*一堆图*/
.manyPic img{
	width: 100%;
}
/*网络预约*/
.internet{
	background: #ffffff;
}
.internet img{
	width: 90%;
	padding-left: 5%;
}
/*两个输入框*/
.Input{
	background: #ffffff;
}
.Input ul{
	padding-top: 20px;
}
.Input ul li{
	padding-left: 2%;
	width: 95%;
	box-sizing: border-box;
}
.Input ul li input{
	width: 96%;
	font-size: 2vw;
	padding-left: 10%;
	padding: 20px;
	background: #f9f9f9;
	margin-bottom: 10px;
	border: 1px solid #dddddd;
	color: #666666;
}
.getBaojia{
	box-sizing: border-box;
	width: 100%;
	background: #ff4d4d;
	border: 1px solid #dddddd;
	border-bottom: 2px solid #898989;
}
.getBaojia p{
	font-size: 2.5vw;
	color: white;
	text-align: center;
	padding: 20px 0;
}
.getBaojia p:hover{
	background: #715a31;
}
.submit p{
	background: #ffffff;
	font-size: 1.8vw;
	color: #666666;
	padding: 30px 0 70px;
	text-align: center;
}
/*footer开始*/
.footer{
	height: 800px;
	background: #222222;
}
.footer p{
	text-align: center;
}
.footer p:nth-child(1){
	padding-top: 30px;
}
.footer p:nth-child(1),.footer p:nth-child(4),.footer p:nth-child(6){
	font-size: 1.8vw;
	color: white;
}
.footer p:nth-child(2),.footer p:nth-child(5){
	color: gray;
	padding: 20px 0;
}
.footer p:nth-child(3){
	font-size: 4vw;
	padding: 10px 20px 30px 20px;
	color: white;
}
.footer ul{
	width: 50%;
	margin: 0 auto;
}
.footer ul li img{
	padding: 50px 0;
	width: 100%;
}
.footerBottom{
	border-top: 1px solid #dddddd;
}
.footer h6{
	text-align: center;
	color: #666666;
}
.footer h6 span:hover{
	color: #cdac5f;
}
.footer h6:nth-child(1){
	padding-top: 30px;
}
