body{
	background: #eeeded;
}
*{
	padding: 0;
	margin: 0;
	list-style: none;
}
.header,.luxury,.logo,.footer,.dingwei{
	width: 100%;
	max-width: 640px;
	min-width: 320px;
}
.header{
	background: #f7f7f7;
	box-sizing: border-box;
	margin:0 auto 20px;
	border-bottom: 1px solid #cdcccc;
	box-shadow: 0 2px 20px 2px;
	display: flex;
}
.header p{
	font-size: 2vw;
	padding: 20px;
	/*line-height: 110px;*/
}
.header p:nth-child(1){
	margin-left: 3%;
}
.header p:nth-child(2){
	margin-left: 27%;
}
/*家园美居*/
.luxury,.footer,.pages,.dingwei,.logo{
	margin: 0 auto;
}
.luxury ul{
	width: 95%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-content: space-between;
}

.luxury ul li{
	padding: 20px 0;
	font-size: 1.7vw;
	text-align: center;
	width: 48%;
	background: #ffffff;
	color: #666666;
	margin-bottom: 5px;
}
.luxury ul li:nth-child(4){
	background: #2987ff;
}
/*各个图标*/
.logo ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	border-top: 3px solid #cdcccc;
}
.logo ul li{
	width: 32.3%;
}
.logo ul li img{
	width: 100%;
}
/*footer开始*/
.footer{
	height: 200px;
	margin: 30px auto 50px;
}
.footer p{
	line-height: 52px;
	font-size: 1.7vw;
	color: #999999;
	text-align: center;
}
/*定位*/
.dingwei{
	position: fixed;
	left: 33.4%;
	top: 835px;
	margin: 0 auto;
}
.dingwei img{
	width: 100%;
}
.dingwei ul{
	height: 90px;
	background: #082855;
	display: flex;
}
.dingwei ul li{
	width: 25%;
}

