*{
	margin:0;
	padding:0;
	list-style:none;
}
body{
	background: #ffffff;
}
img{
	width: 100%;
	display: block;
}
/*大容器*/
.container{
	width: 100%;
	margin: 0 auto;
	max-width: 640px;
	min-width: 320px;
}
.logo img{
	width: 100%;
}
/*网站建设*/
.internet ul{
	margin-top: 10px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	background: #ffffff;
}
.internet ul li{
	text-align: center;
	width: 23%;
	margin-bottom: 15px;
}
.internet ul li p{
	color: #666666;
	padding: 10px 0;
}
.internet ul li img{
	padding-left: 27%;
	width: 60px;
	height: 60px;
}
/*输入框这部分*/
.input2{
	display: flex;
	box-sizing: border-box;
	padding-bottom: 20px;
}
.input2 input{
	width: 60%;
}
.input2 p:nth-child(2){
	border: 1px solid #3479cb;
	padding: 20px 40px;
	border-left: 1px solid #1470cd;
}
.input2 p:nth-child(3){
	background: #3479cb;
	padding: 20px 40px;
}
/*案例中心*/
.case img{
	padding: 20px 0;
	padding-left: 20%;
	width: 60%;
}
/*移动互联*/
.move ul{
	display: flex;
	justify-content: space-around;
}
.move ul li{
	border: 1px solid #1470d0;
	padding: 10px 20px;
}
/*移动互联下面八个li*/
.moveBottom ul{
	display: flex;
	padding: 20px 0;
	flex-wrap: wrap;
	justify-content: space-around;
}
.moveBottom ul li{
	width: 47%;
	padding-bottom: 50px;
}
.moveBottom ul li img{
	width: 100%;
}
/*更多案例开始*/
.manyCase p{
	text-align: center;
	padding: 6px 0;
	font-size: 1.7vw;
	background: #1473cc;
	color: white;
}
/*案例中心下面部分*/
.caseBottom ul{
	display: flex;
	margin-top: 10px;
	flex-wrap: wrap;
	justify-content: space-around;
}
.caseBottom ul li{
	margin-bottom: 10px;
	width: 47%;
	border: 1px solid #1470cd;
	box-sizing: border-box;
}
.caseBottom ul li p{
	width: 75%;
	padding-left: 15%;
	color: #666666;
	padding-bottom: 50px;
}
.caseBottom ul li h3{
	text-align: center;
	padding: 10px 0;
}
.caseBottom ul li img{
	width: 40%;
	padding: 10% 30% 2%;
}
/*请留下你的电话号码*/
.keep{
	margin: 20px 0 0;
	background: url(../img/4-9.png) no-repeat;
	background-size: 100% 100%;
	/*position: relative;*/
}
.keep p{
	display: flex;
	position: relative;
	width: 90%;
	margin: 0 auto;
	padding: 25px 0;
}
.keep p input{
	padding: 10px 0;
	width: 100%;
	border-radius: 30px;
	padding: 10px 0;
	background: #ffffff;
}
.keep p span{
	position: absolute;
	left: 70%;
	top: 30%;
	width: 29%;
	height: 20px;
	display: inline-block;
	background: #1470cd;
	border-radius: 30px;
	padding: 10px 0;
	text-align: center;
}
.keep div{
	display: flex;
	justify-content: space-around;
}
.keep div dl{
	width: 32%;
	/*background: red;*/
}
.keep div dl dt{
	text-align: center;
	font-size: 1.3vw;
	font-weight: bold;
	color: white;
	padding: 15px 0;
}
.keep div dl dd{
	font-size: 0.6vw;
	color: white;
	text-align: center;
	padding: 5px 0;
}
/*版权部分开始*/
.banquan{
	background: #000000;
}
.banquan ul li{
	color: white;
	text-align: center;
	padding: 10px 0;
}
.banquan ul li:last-child{
	padding-bottom: 40px;
}
/*footer开始*/
.footer{
	background: #1473cc;
}
.footer ul{
	display: flex;
	justify-content: space-around;
	padding: 20px 0 10px;
}
.footer ul span{
	font-size: 1.9vw;
	color: white;
}
