*{
	padding: 0;
	margin: 0;
	list-style: none;
}
body{
	background: #eeeded;
}
.header,.luxury,.bigPic,.dingwei{
	width: 100%;
	max-width: 640px;
	min-width: 320px;
/*	 form1.ShowDialog();*/
}
.header{
	background: #f7f7f7;
	box-sizing: border-box;
	margin:0 auto 20px;
	border-bottom: 1px solid #cdcccc;
	box-shadow: 0 2px 20px 2px;
	display: flex;
}
.header p{
	font-size: 2vw;
	padding: 20px 0;
}
.header p:nth-child(1){
	margin-left: 3%;
}
.header p:nth-child(2){
	margin-left: 27%;
}
/*豪华拧包装*/
.luxury{
	margin: 0 auto 10px;
}
.luxury ul{
	width: 95%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	align-content: space-between;
}
.luxury ul li{
	line-height: 62px;
	font-size: 2vw;
	text-align: center;
	width: 48%;
	background: #ffffff;
	color: #666666;
}
.luxury ul li:nth-child(1){
	background: #2987ff;
	color: white;
}
/*大图*/
.bigPic{
	margin: 0 auto;
	background: #ffffff;
	overflow: hidden;
}
.bigPic img{
	padding-top: 20px;
	margin-left: 2.5%;
	width: 95%;
}
.bigPic img:hover{
	transition: 1.5s;
	transform: scale(1.3,1);
}
/*footer开始*/
.footer{
	padding-bottom: 170px;
	margin: 0 auto;
}
.footer p{
	padding: 10px 0;
	font-size: 1.7vw;
	color: #999999;
	text-align: center;
}
/*定位*/
.dingwei{
	position: fixed;
	left: 33.4%;
	bottom: 0;
	margin: 0 auto;
}
.dingwei img{
	width: 100%;
}
.dingwei ul{
	background: #082855;
	display: flex;
}
.dingwei ul li{
	width: 25%;
}
@media screen and (max-width:639px){
	.dingwei{
	position: fixed;
	left: 0;
	z-index:40;
	bottom:70px;
}
}
