*{
	padding: 0;
	margin: 0;
	list-style: none;
}
body{
	background: #eeeded;
}
.header,.luxury,.video,.footer,.pages,.dingwei{
	width: 100%;
	max-width: 640px;
	min-width: 320px;
	margin: 0 auto;
}
.header{
	background: #f7f7f7;
	box-sizing: border-box;
	border-bottom: 1px solid #cdcccc;
	box-shadow: 0 2px 20px 2px;
	display: flex;
}
.header p{
	font-size: 2vw;
	padding: 20px 0;
}
.header p:nth-child(1){
	margin-left: 3%;
}
.header p:nth-child(2){
	margin-left: 27%;
}
/*家园美居*/
.luxury ul{
	width: 95%;
	margin: 10px auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.luxury ul li{
	font-size: 1.5vw;
	text-align: center;
	width: 48%;
	padding: 20px 0;
	background: #ffffff;
	color: #666666;
}
/*10个视频图*/
.video{
	margin: 0 auto;
}
.video img{
	width: 100%;
}
.video ul{
	display: flex;
	margin: 0 auto;
	flex-wrap: wrap;
	justify-content: space-around;
}
.video li{
	width: 47%;
	margin-bottom: 10px;
}
.video li p{
	font-size: 1.5vw;
	text-align: center;
	color: #666666;
	background: #ffffff;
	padding: 20px 0;
}
.video li p:hover{
	color: #00a7ff;
}
/*上一页 下一页*/
.pages ul{
	margin: 0 auto;
	width: 50%;
	/*height: 50px;*/
	display: flex;
	justify-content: space-around;
}
.pages ul li{
	width: 35%;
	padding: 15px 0;
	background: #ffffff;
	font-size: 1.6vw;
	text-align: center;
}
/*footer开始*/
.footer{
	margin: 10px auto 30px;
	padding-bottom: 80px;
}
.footer p{
	font-size: 1.7vw;
	color: #999999;
	text-align: center;
	
}
/*定位*/
.dingwei{
	position: fixed;
	left: 33.4%;
	bottom: 0;
	margin: 0 auto;
}
.dingwei img{
	width: 100%;
}
.dingwei ul{
	height: 90px;
	background: #082855;
	display: flex;
}
.dingwei ul li{
	width: 25%;
}
@media screen and (max-width:639px){
	.dingwei{
	position: fixed;
	left: 0;
	z-index:40;
	bottom:20px;
}
}


