@charset "utf-8";
#container{margin:0 auto;overflow:hidden; padding-bottom:.93rem;transition: all 0.3s; font-size: .28rem; position: relative;}

.mainboxbg{ position:fixed; height:100%; width:100%; background-color:#000; top:0; display:none; z-index:9;lter:alpha(opacity=70);-moz-opacity:0.7;opacity:0.7;}
/*nav*/
.nav{width:40%; height:100%;position: fixed;right:-40%; padding-top:8%; display:none; top:0; z-index:1001; background:url(../images/navbg.png) #0070ff left repeat-y;}
.nav li{text-align:center; margin:0 .1rem;  }
.nav li a{display:block;width:100%; font-size:.28rem;color:#fff;padding:5% 0; border-bottom:1px solid #006af1;}
.nav li a:hover{ color:#fff;}
/*header*/
#logo{ width:100%; height:auto;}
#logo img{width:100%; height:auto;}
.sechan{ display:inline; float: right;width:1.1rem;height:1.1rem;line-height:1.1rem; text-align: center;}
.sechan span{ display:block;text-align:center; margin:0 auto;font-size:0.5rem; color: #fff;}

/* banner */
.slideBox{ position:relative;min-width:320px;overflow:hidden;/* 设置焦点图最大宽度 */}
.slideBox .hd{ position:absolute; height:0.06rem; line-height:normal; bottom:0.16rem; z-index:5; text-align:center; width:100%; left:0;}
.slideBox .hd ul{height:0.06rem;}
.slideBox .hd li{ display:inline-block; width:0.06rem; background-color:#fff; height:0.06rem; -webkit-border-radius:0.03rem; -moz-border-radius:0.03rem; border-radius:0.03rem; text-indent:-9999px; overflow:hidden; margin:0 0.04rem; line-height: normal; vertical-align: top;}
.slideBox .hd li.on{ background-color:#0f6aad; width:0.1rem;}
.slideBox .bd{ position:relative; z-index:0; }
.slideBox .bd li{ position:relative; text-align:center;  }
.slideBox .bd li img{ vertical-align:top; width:100%; height:auto;/* 图片宽度100%，达到自适应效果 */}
.slideBox .bd li a{ -webkit-tap-highlight-color:rgba(0,0,0,0);  }  /* 去掉链接触摸高亮 */	
.itembox{ overflow-y: hidden;padding: 0 .1rem; }

/*图标*/
.nav2{ width:99%;  padding:5% 0 3% 1%;}
.nav2 li{ display:block; width:19.8%; float:left; text-align:center; font-size:0.25rem; line-height:0.4rem; padding-bottom:3%;}
.nav2 li img{ width:80%; padding:0 10% ;}
.nav2 li a{ text-decoration:none; color:#333;}
.nav2 li a:hover{ color:#0099ff;}
.tu01{ width:49.7%; height:auto; float:left; padding-bottom:1%;}
.tu02{ width:49.7%; height:auto; float:right; padding-bottom:1%;}

/*套装*/
.style-list-box {display: block; width:100%; height:auto; overflow-x:auto; overflow-y: hidden; background-color: #fff;margin-top:0.2rem; scrollbar-face-color: #fcfcfc; scrollbar-highlight-color: #6c6c90; scrollbar-shadow-color: #fcfcfc;scrollbar-3dlight-color: #fcfcfc;scrollbar-arrow-color: #240024;scrollbar-track-color: #fcfcfc; scrollbar-darkshadow-color: #48486c;scrollbar-base-color: #fcfcfc;}
.style-list-box ul { width:10rem; padding:0.24rem 0; height:2.6rem;}
.style-list-box ul li {display:block;width:2.18rem; height:2.18rem; margin-left:0.24rem; padding:0; float:left;}
.style-list-box ul li a {width:2.18rem; height:2.18rem; padding:0; margin:0;}
.style-list-box ul li a img {width:100%; height:100%}
.style-list-box ul li a span {display: block; text-align: center; margin-top:.1rem; color:#333; font-size:0.25rem; vertical-align:middle;}

/*装修计算*/
.bt{ background: #082855; line-height:0.4rem; overflow-y: hidden; padding:0.12rem 0.2rem; }
.bt h3{ display: inline; float: left; height:0.4rem; border-left:0.08rem solid #0f6aad; text-align: center; color:#0099ff; padding-right: .2rem; font-size:.25rem; padding-left:0.1rem; font-weight:bold;}
.more{ display:inline; float:right; height:0.4rem; font-size:0.2rem; }
.more a{color:#999;}
.more a:hover{ color:#018ded;}
.zsjs_box{ width:90%; margin:3% 5%;}
.text01{ width:98%; padding-left:2%; color:#666; background:#fff; outline:0; border:0; height:0.5rem; line-height:0.5rem; font-size:0.24rem; font-family:"微软雅黑";  }
.kuan2{width:30%; height:0.5rem; line-height:0.5rem;font-size:0.24rem; font-family:"微软雅黑"; color:#666; background:#fff; border:0; outline:0; padding-left:2%; margin-right:2%;}
.mfsq{ width:64%; display:block; margin:0 auto; background:#0f6aad; height:0.5rem; line-height:0.5rem; font-size:0.24rem; font-family:"微软雅黑"; text-align:center;  color:#fff; border:0;}
.mfsq a{width:100%;display:block; background:#0f6aad; color:#FFF; }
.mfsq a:hover{width:100%; display:block; background:#082855; color:#0099ff;}


/*装修案例*/
.cplist{width:100%; overflow: hidden;}
.cplist li{ width:45.6%; display:block;float:left; overflow: hidden; margin:3% 0 0 3%;}
.cp-img{ width:100%; height:2.76rem; overflow:hidden;}
.cp-img img{ width:100%; height:2.76rem; overflow:hidden;}
.cplist_01{ width:100%; display:block; text-align:center; overflow:hidden; background:#fff; height:0.6rem; line-height:0.6rem; font-size:0.23rem;}
.cplist_01 a{display:block;  color:#333;}
.cplist_01 a:hover{ display:block; color:#0099ff;}

.gd-img{width:100%; height:2.42rem; overflow:hidden;}
.gd-img img{ width:100%; height:2.42rem; overflow:hidden;}

/*设计团队*/
.team{ width:100%; overflow: hidden;}
.team li{ width:32%; display:block;float:left; overflow: hidden; margin:1% 0 0 1%;}
.sj-img{ width:100%; height:2.4rem; overflow:hidden;}
.sj-img img{ width:100%; height:2.4rem; overflow:hidden;}
.sj_01{ width:100%; display:block; text-align:center; overflow:hidden; background:#082855; height:0.8rem; line-height:0.09rem; font-size:0.2rem;}
.sj_01 a{display:block;  color:#999;}
.sj_01 a:hover{ display:block; color:#0099ff;}

/*装修百科*/
.tabBox{ background:#fff;}
.tabBox .hd{background:#e9e9e9; line-height:0.5rem; height:0.5rem; font-size:0.24rem; position:relative;}
.tabBox .hd ul{ position:absolute; top:0; overflow:hidden; width:100%;}
.tabBox .hd ul li{ float:left; padding:0 5%; cursor:pointer; }
.tabBox .hd ul li a{ color:#333;}
.tabBox .hd ul .on{ background:#0f6aad; }
.tabBox .hd ul .on a{ display:block;color:#fff; /* 修复Android 4.0.x 默认浏览器当前样色无效果bug */  }
.tabBox .bd ul{clear:both; overflow:hidden;width:100%;  height:auto; padding:2% 0 3% 0;}
.tabBox .bd li{ width:100%; height:0.6rem; line-height:0.6rem; overflow:hidden; font-size:0.24rem;}
.tabBox .bd li a{ color:#666; text-decoration:none; background:url(../images/dian.png) 0.2rem center no-repeat; padding-left:0.4rem;}
.tabBox .bd li a:hover{ color:#0099ff;}
.tabBox .bd li a{ -webkit-tap-highlight-color:rgba(0,0,0,0); }  /* 去掉链接触摸高亮 */

/*footer*/
#footer{padding:.15rem 0;  text-align:center; color:#666; font-size:.22rem; line-height:0.3rem;}
#footer a{ margin:0 5px; color:#666;}
#footer p{margin: 0;}
.foc1{ position:fixed; z-index:1000; bottom:0; width:100%; max-width:750px; clear:both;}
.foc1 li{ width:25%; text-align:center; float:left; cursor:pointer;}
.foc1 li img{ width:100%; height:auto; overflow:hidden;}

/*content*/
.content{ padding: .1rem .15rem .1rem .15rem;overflow: hidden;text-align: left; font-size: .24rem!important; background: #fff; line-height: 160%;}
.content h1{ font-size: .32rem; font-weight: normal; text-align: center; color: #000;  border-bottom:1px solid #eee; margin-bottom: 10px; padding:.1rem; white-space: nowrap;text-overflow: ellipsis;overflow: hidden;}
.content img,.contentct img{max-width:100%; text-align: center;}

.page{ text-align:center; padding:10px 0; padding-top:15px;font-size: .14rem}
.page a{padding:5px 20px; margin:0 5px;border-radius:4px; display:inline-block; border:1px solid #e2e2e2; background-color:#fff; font-size: .2rem}

.xingxi{padding:3% 2%; line-height:1.6; overflow:hidden; clear:both; background:#fff;}
.author{text-align:center; font-size:80%; padding:0.5% 0 1.3% 0; border-bottom:#edc09a dashed 1px;}
.content_img{text-align:center; clear:both; overflow:hidden; width:100%;}
.content_img img{ width:100%; margin:2% 0; max-width:640px;}

.wb5{ width:60%;  margin:0 auto; display:block; font-size:0.26rem; text-align:center; margin-top:2%;}
.wb5 a{ display:block;padding:2% 0; color:#fff; background:#0099ff; text-decoration:none; }
.wb5 a:hover{ color:#fff; background:#082855;}
.wb6{ font-size:0.24rem; line-height:0.3rem; color:#666; padding:2%;}

.ds-img{ width:100%; height:2.4rem; overflow:hidden;}
.ds-img img{ width:100%; height:2.4rem; overflow:hidden;}


/*关于我们*/
.aboutbox{ background: url(../images/bg.png) #ca0c13 repeat; padding:.4rem .2rem;color: #fff; font-size: .24rem; overflow: hidden;text-align: center;}
.aboutbox .indextt{ color: #fff; margin: 0; background:none; padding-top: 0;}
.indextt{ font-size: .32rem; color: #333;text-align: center; padding-top: .2rem; background: #fff;}
.indexttn{ padding-top: 0; padding-bottom: .1rem }
.indextt b{ color: #ca0c13; margin-left: 3px;}
.indextt span{ display: block; line-height: normal;text-transform: uppercase; font-size: .18rem}
.indextt span.lineth{ height: 2px; width: 32px;margin:5px auto; overflow: hidden; background: #FFB301; }
.aboutdesc{margin-top:0.12rem; font-size: .24rem; }
a.aboutxq{ display: block; width: 60%; margin: 0 auto; background: rgba(255,255,255,0.9);text-align: center; margin-top:.2rem;height: .46rem; line-height: .46rem; color: #ca0c13; font-size: .28rem}


/*新闻资讯*/
.whtbb{ background: #fff; }
.youshili{ height:.64rem; overflow: hidden;margin: 0 .1rem;}
.youshili li{ display: inline; float: left; width: 33.3333%;text-overflow:hidden;text-overflow:ellipsis;white-space:nowrap;text-align: center; font-size: .28rem; line-height: .64rem; }
.youshili li span{ display: block; height: .64rem; background: #333; border-left: 1px solid #fff; color: #Fff; }
.youshili li:nth-child(1) span{ border-left: none; }
.youshili li.active span{ background: #CB1B1B; color:  #fff; cursor:pointer; }

.newslist{ padding:.1rem .2rem .2rem .2rem; overflow: hidden; background:#fff;}
.newslist li span{ float: right; color: #666; }
.newslist li a{ font-size: .28rem; color: #666; padding-left: .3rem; background: url(../images/sj.gif) 3px center no-repeat;border-bottom: 1px dotted #dedede; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; line-height: .58rem; display: block; }
.whtbt{ background: #fff; }

.wb4{ background:#fff; padding:2%; border-bottom:1px solid #eee; color:#333;}
.dt{ clear:both; overflow:hidden; margin:2% 0; font-size:0.24rem;}
.dt li{border-radius:5px; float:left; display:block; background:#e9e9e9; width:auto; margin:0.5% 1%;}
.dt li a{border-radius:5px; display:block;  font-size:90%; padding:0.05rem; white-space:nowrap; color:#666; text-decoration:none;}
.dt li a:hover{background:#0099ff; color:#fff; display:block; text-decoration:none;}
.dt li.hover a{background:#0099ff; color:#fff; display:block; text-decoration:none;}


.Brand{ width:100%; overflow: hidden;}
.Brand li{ width:32%; display:block;float:left; overflow: hidden; margin:1% 0 0 1%;}
.pp-img{ width:100%; height:1.18rem; overflow:hidden;}
.pp-img img{ width:100%; height:1.18rem; overflow:hidden;}

/*topbar*/
.top_bar{background-color:#F7F7F7;box-shadow: 0 2px 2px rgba(0,0,0,.15);text-align: center;position: relative;z-index:1; overflow: hidden; font-size: .18rem; height: .8rem; line-height: .8rem;text-align: center;}
.top_bar .head_title{ display: inline-block; max-width: 5rem;margin: 0 auto;  font-size: .30rem; white-space: nowrap;}
.top_bar .back_btn{ position: absolute; left: 0;top: 0; width: .6rem; height: .8rem; text-align: center; font-size: .26rem }
/*三级分类*/
.flboxlist{font-size: .24rem; padding:.12rem .1rem; padding-left: 0; position: relative; z-index: 2;box-shadow: 0 2px 2px rgba(0,0,0,.15); overflow: hidden;}
.flboxlist li{box-sizing: border-box; padding-left: .05rem; display: block; margin-top: 2px;position: relative; width: 50%; display: inline; float: left;}
.flboxlist li a{ display: block; height: .6rem; line-height: .6rem; color: #666;white-space: nowrap;text-overflow: ellipsis;overflow:hidden; background: #fff; margin-left: .1rem; border:1px solid #eee;text-align: center;}
.flboxlist li.hover a{ background: #2987ff;  color: #fff; border-color: #2987ff }



.ttl{ height: 40px; line-height: 40px; line-height: 40px; border:1px solid #eee; background: url(../images/ttl.jpg) 8px center no-repeat; padding-left: 20px; font-size: 16px;font-weight:bold; position:relative; border-radius: 4px; color: #333;margin: 0 10px;}
.ttl .spanfl{ position: absolute;top:-1px; right: -1px; height:42px; font-size: 14px; padding-right: 26px; color: #fff; font-weight: normal; background: #008aff; line-height: 42px; border-top-right-radius: 2px;border-bottom-right-radius: 2px; padding-left:10px; overflow:hidden; cursor: pointer;}
.ttl .spanfl em{ width: 26px; text-align: center; font-size: 18px; position: absolute;right: 0;top: 0; height: 42px; line-height: 42px; color: #fff}
.flboxsub{ background: #4d4d4d; color: #fff; position: absolute; width: 100%; left: 0; top: 52px;box-sizing: border-box; padding: 15px; z-index: 9; padding-top: 10px; display: none;max-width: 640px; }

/*menberinfolist*/
.menberinfolist{ padding:10px 15px;}
.menberinfolist li{ height:36px; line-height:36px; border-bottom:1px solid #eee;}
.menberinfolist li a{ display:block; overflow:hidden;  height:36px;background: url(../images/dian2.png) left center no-repeat; padding-left: 18px;}
.menberinfolist li a span{ float:right; height:36px; color:#CCC}

.loginbox input{ width:100%; border-radius:4px; border:1px solid #f2f2f2; padding:5px 0px; text-indent:5px; color:#CCC; margin-top:10px;}
.loginbox input.login{ background-color:#188eee; color:#fff; padding:0; height:36px; line-height:36px; border-radius:20px; cursor:pointer; border:0 none;margin-top:15px; text-indent:0;}
.loginbox2 input{border:1px solid #dedede;}
.loginbox a.regest,.loginbox input.regest{ display:block;padding:0;border:0 none; font-size:12px; background-color:#8cc21b; color:#fff; text-align:center; height:36px; line-height:36px;margin-top:10px; border-radius:20px; cursor:pointer; }
.text_qs2{ width: 100%;height: 150px;  border-radius:4px; border:1px solid #f2f2f2; padding:5px 0px; box-sizing: border-box;margin-top:10px;}