@charset "utf-8";
/* CSS Document */
body,html{width:100%; margin:0px; padding:0px; overflow-x:hidden;text-align:center; background:#000}
.viewport{ margin:0 auto; background:#FFF; position:relative;}

.top{ width:100%; height:5.5rem; background:#222;line-height:5.5rem;}
.top .top1{ width:20%;}
.top2{ width:75%; padding-left:4%;}

.nav{ width:100%; height:3.5rem; background:#FFF; line-height:3.5rem;}
.nav ul li{ float:left; width:16.666%;height:3.5rem;}
.nav ul li a{ display:block; width:90%; height:3.25rem; margin:0 auto;}
.nav ul li a:hover,.nav ul li a.hover{ border-bottom:0.25rem solid #cdac5f; color:#cdac5f;}

.type_List{ text-align:center; background:#EEEEEE;}
.type_List a{ display:inline-block; height:3.5rem; width:20%;color:#000; }
.type_List a span{display:block;border-right:1px solid #CCC; width:99%; height:2rem; line-height:2rem; margin-top:0.75rem;}
.type_List a:last-child span{ border-right:none;}
.type_List a:hover,.type_List a.hover{color:#cdac5f; }

.type_List1{ text-align:center}
.type_List1 a{ display:inline-block;height:2.5rem;line-height:2.5rem; width:10rem; color:#000; }
.type_List1 a:first-child{ background:url(/statics/images/type1.png) no-repeat; background-size:100% 100%;}
.type_List1 a:last-child{ background:url(/statics/images/type2.png) no-repeat;background-size:100% 100%;}
.type_List1 a.hover,.type_List1 a:hover{ color:#FFF;}
.type_List1 a:first-child.hover,.type_List1 a:first-child:hover{ background:url(/statics/images/type3.png) no-repeat;background-size:100% 100%;}
.type_List1 a:last-child.hover,.type_List1 a:last-child:hover{ background:url(/statics/images/type4.png) no-repeat;background-size:100% 100%;}

.city{ width:97%; margin:0 auto;height:16.25rem; }
.city .item{ width:7rem; float:left;height:12.25rem; }
.city .item a{ display:block;width:95%; height:12.25rem; margin:0 auto; background:url(/statics/images/city.png) no-repeat;background-size:100% 100%;}
.city .item a i{ padding-top:9.2rem; display:inline-block; font-weight:bold;}

.case ul{width:101.3%;}
.case ul li{width:32%;overflow:hidden; margin-right:1.3%; float:left; margin-bottom:1.75rem;}

.more{ width:100%;height:4rem; background:url(/statics/images/read1.png) no-repeat;background-size:100% 100%;}
.more:hover{ background:url(/statics/images/read2.png) no-repeat;background-size:100% 100%;}
.more1{ width:8rem; height:2.1rem; margin:1rem auto; background:url(/statics/images/more1.png) no-repeat;background-size:100% 100%;}
.more1:hover{  background:url(/statics/images/more2.png) no-repeat;background-size:100% 100%;;}

.photo ul li{width:100%;overflow:hidden;margin-bottom:1.5rem;}
.hd ul li{width:100%;overflow:hidden;margin-bottom:2.5rem;}
.Vkuai2 ul li{ width:100%;overflow:hidden;margin-bottom:2rem;}
.Vkuai2 ul li .Vkuai2con  .Vkuai2con1{  border-bottom:1px solid #DDD;}
.Vkuai2 ul li .Vkuai2con  .Vkuai2con2{ border-bottom:1px solid #DDD;}
.Vkuai2 ul li .Vkuai2con  .Vkuai2con2 .p1{ color:#FF5B26; font-size:3rem;}.Vkuai2 ul li .Vkuai2con  .Vkuai2con2 .p1 i{ display:block;}
.Vkuai2 ul li .Vkuai2con  .Vkuai2con2 .p2{ padding:2rem 0 0 2rem;}
.Vkuai2 ul li .qiang{width:18.8rem; height:3.5rem; background:url(/statics/images/qiang1.png) no-repeat;background-size:100% 100%; margin:1rem auto;}
.Vkuai2 ul li .qiang:hover{background:url(/statics/images/qiang2.png) no-repeat;background-size:100% 100%;}
.zhou ul{ width:101%; overflow:hidden;}
.zhou ul li{ float:left; width:49%; margin-right:1%; margin-bottom:1.5rem;}
.zhou ul li a{ width:100%; height:100%; display:block;}


.dialog .content{overflow: hidden;}
.dialog .line{width:100%;}
.dialog .line input[type="tel"]{ width:94%; height:4.5rem; line-height:4.5rem; background:#f9f9f9; border:1px solid #ccc; font-size:1.4rem; color:#999; padding-left:5%;}
.dialog .line input[type="text"]{ width:94%; height:4.5rem; line-height:4.5rem; background:#f9f9f9; border:1px solid #ccc; font-size:1.4rem; color:#999; padding-left:5%;}
.button2{cursor: pointer;background:#ff4d4d; color:#fff;height:4.5rem;line-height:4.5rem;font-size:2rem;text-align:center;}
.button2:hover{background:#cdac5f;color:#fff;}

.bot1{ border-bottom:1px solid #444;}

.btq{width:100%;position:fixed;left:0;bottom:0;z-index:1000;background:url(/statics/images/q.jpg) no-repeat;height:4.3rem; background-size:100% 100%;}
.btq a{display:block; float:left;height:4.3rem;width:30%;}
.btq .l{width:40%;}
.chakan{ width:4rem;}
.body{ font-size:1rem;}.body img{ max-width:100%; height:auto;display:block;}
.zy{ width:100%; height:6.15rem; background:url(/statics/images/zy.jpg) no-repeat;background-size:100% 100%;}
.zy a{ display:block; float:left; width:33%;height:6.15rem;}

.mpage { display:block;margin:2.5rem auto 0; text-align:center;}
.mpage li{ display:inline-block; padding:0.25rem;}
.mpage .count,.mpage .pend,.mpage .phome{ display:none;}
.mpage .pnext a,.mpage .ppre a,.mpage .ppage a{ display:inline-block;*display:inline;zoom:1; line-height:2rem; width:2rem; text-align:center;border-radius:2rem;  background:#fff;color:#cdac5f; border:1px solid #cdac5f;}
.mpage .pnext a,.mpage .ppre a{width:auto; padding:0 1rem; }
.mpage  a:hover,.mpage  a.hover{ background:#cdac5f;color:#fff;}

#iSlider-effect-wrapper {
    height: 22.75rem;
    width: 36rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.iSlider-effect {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}

.iSlider-effect ul {
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
}
.iSlider-effect li {
  position: absolute;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
  list-style: none;
}
.iSlider-effect ul li img{
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  padding: 0;
}