@charset "utf-8"; 
/* CSS Document */
a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {	margin:0;padding:0;	border:0;font:inherit;vertical-align:baseline;word-wrap:break-word}
table {border-collapse:collapse;border-spacing:0}
button, input, select, textarea {outline:0;-webkit-box-sizing:border-box}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block}
li, ol, ul {list-style:none}
blockquote, q {quotes:none}
blockquote:after, blockquote:before, q:after, q:before {content:'';	content:none}
b, strong {font-weight:700}
a.order {background: #1abc9c;padding: 6px 30px;border: none;color: #fff;cursor: pointer;font-size: 1.2em;font-family: 'Oswald', sans-serif;display: block;-webkit-transition: all 0.5s ease-in-out;-moz-transition: all 0.5s ease-in-out;-o-transition: all 0.5s ease-in-out;transition: all 0.5s ease-in-out;-webkit-appearance: none;outline: none;text-decoration: none;}
a.order:hover{color:#fff;background:#16a085;}
a:focus {outline: thin dotted; outline: none; outline-offset: 0px;}
a.mask {text-decoration: none;overflow: hidden;display: block;}
img.zoom-img:hover {-webkit-transform: scale(1.1);-webkit-transition-timing-function: ease-out;-webkit-transition-duration: 1683ms;-moz-transform: scale(1.1);-moz-transition-timing-function: ease-out;-moz-transition-duration: 1683ms;overflow: hidden;}
img.zoom-img {-webkit-transform: scale(1, 1);-webkit-transition-timing-function: ease-out;-webkit-transition-duration: 1683ms;-moz-transform: scale(1, 1);-moz-transition-timing-function: ease-out;-moz-transition-duration: 1683ms;}
img{ border:0 none; padding:0; margin:0; vertical-align: top; width:100%; height:auto;}
:focus {outline:0}
a{	color:#333;text-decoration:none;}
a.active {color:#06c}
.block4{ clear:both; height:0.4rem;}
.block3{ clear:both; height:0.3rem;}
.block2{ clear:both; height:0.2rem;}
.block1{ clear:both; height:0.1rem;}
.clear{ clear:both;}
/*html {font-size:62.5%}
@media only screen and (min-width:481px) {
	html {font-size:94%!important}
}

@media only screen and (min-width:561px) {
	html {font-size:109%!important}
}

@media only screen and (min-width:641px) {
	html {font-size:125%!important}
	body {max-width:640px}
}*/
body {background:#eeeded;max-width:750px; font-family:'STHeiti','Microsoft YaHei',Helvetica,Arial,sans-serif;margin:0 auto;position:relative
}
input {outline:0;-webkit-box-sizing:border-box;-webkit-tap-highlight-color:transparent;-webkit-appearance:none
}
input:focus, textarea:focus {outline:0;border:1px solid #f60}

.w50{ width: 50%; }
/* 定义浮动 */ 
.fl {
	float: left!important;
	display: inline
}

.fr {
	float: right!important;
	display: inline
}

/*清除浮动*/
.clearfix:before,.clearfix:after{content:"";display:table;}
.clearfix:after{clear:both;}
.clearfix{*zoom:1;/*IE/7/6*/}
